 {
  color: rgba(255, 255, 255, 0.88)
}

html {
  font-family: Roboto, Arial;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(24, 24, 24);
}

.header {
  margin-bottom: 10px;
}

h1 {
  font-size: 34px;
  color: rgba(255, 255, 255, 0.88);
  text-align: center;
  margin: 0px;
  margin-top: 10px;
}

p {
  color: rgba(255, 255, 255, 0.5);
  margin: 0px
}

.author {
  text-align: center;
  margin-top: 5px;
}

.link {
  transition: color 0.15s, text-decoration 0.15s;
}

.link:hover {
  color: dodgerblue;
  text-decoration: underline;
  cursor: pointer;
}

.nav-div {
  text-align: center;
}

.nav-button {
  background-color: rgba(255, 255, 255, 0.00);
  border: none;
  border-radius: 5%;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.15s;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.nav-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 22px;
  padding-right: 22px;
}