* {
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.88);
}

body {
  background-color: rgb(28, 29, 34);
}

footer {
  text-align: center;
}

form {
  margin-left: 28%;
  margin-right: 28%;
}

h1 {
  font-size: 34px;
  color: rgba(255, 255, 255, 0.88);
  text-align: center;
  margin: 0px;
  margin-top: 10px;
  padding-top: 10px;
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 15px;
}

html {
  font-family: Roboto, Arial;
  scroll-behavior: smooth;
  scroll-padding-top: 160px;
}

input {
  display: block;
  color: black;
  margin-right: auto;
  margin-left: auto;
}

nav {
  visibility: hidden;
  opacity: 0;
  /* height: 0px; */
  max-height: 0px;
  width: 100%;
  overflow: auto;
  transition: 0.15s;
  text-align: center;
}

p {
  color: rgba(255, 255, 255, 0.6);
  margin: 0px;
  margin-bottom: 6px;
}

textarea {
  display: block;
  color: black;
  margin-right: auto;
  margin-left: auto;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

.author {
  text-align: center;
  margin-top: 5px;
}

.chapter{
  margin-bottom: 40px;
  overflow-wrap: break-word;
}

.close-button {
  content: "";
  background-color: rgba(255, 255, 255, 0.00);
  border: none;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  height: 25px;
  max-width: 500px;
  border-radius: 25px;
  transition: 0.15s;
  cursor: pointer;

}

.close-button:hover {
  
  cursor: pointer;
}

.close-button:active {
  background-color: rgba(255, 255, 255, 0.00);
}

.close-button:after {
  content: "";
  display: block;
  clear: both;
}

.code-example {
  background-color: rgba(70, 72, 79, 0.8);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  line-height: 1.8;
  margin-top: 16px;
  margin-bottom: 16px;
}

.contact {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 5px;
  margin-bottom: 12px;
}

label.contact {
}

input.contact {
  width: 100%;
}

.contact-button {
  color: black;
  width: 150px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.grid-container {
  background-color: rgb(40, 42, 49);
  padding-top: 30px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
  margin-left: 28%;
  margin-right: 28%;
  border-radius: 5px;
}

.header {
  position: sticky;
  text-align: center;
  top: 0px;
  background-color: rgb(40, 42, 49);
  box-shadow: 0 1px 5px black;
  margin-bottom: 15px;
}

.heading {
  font-size: 24px; 
  color: rgba(255, 255, 255, 0.88);
  text-align: left;
}

.jump {
  /* visibility: hidden;
  height: 0 !important;
  position: absolute;
  margin: -160px; */
}

.link {
  color: dodgerblue;
  text-decoration: none;
  transition: color 0.15s, text-decoration 0.15s;
}

.link:hover {
  color: dodgerblue;
  text-decoration: underline;
  cursor: pointer;
}

.nav-button {
  background-color: rgba(255, 255, 255, 0.00);
  color: rgba(255, 255, 255, 0.88);
  border: none;
  border-radius: 5%;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.15s;
}

.nav-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: underline;
}

.nav-button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-div {

}

.page-author {
  margin-bottom: 8px;
}

.text {
  font-size: 14px;
  text-align: left;
  line-height: 1.3;
}

/* @media screen and (max-width: 500px) {
  nav .nav-button {
    display: block;
  }
} */

@media (orientation: portrait) {
  .grid-container {
    margin-left: 0;
    margin-right: 0;
  }

  nav .nav-button {
    display: block;
    height: 50px;
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }

  .close-button {
    height: 20px;
    width: 100%;
  }

  .text {
    color: rgba(255, 255, 255, 0.80s);
  }
}

@media (max-width: 870px) {
  .header {
    position: static;
  }
}

@media (max-width: 360px) and (orientation: portrait){
  .jump {
    margin: 0;
  }
}

@media (hover: hover) {
  .close-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}