* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(24, 24, 24);
}

h1 {
  font-size: 34px;
  color: rgba(255, 255, 255, 0.88);
  text-align: center;
  margin: 0px;
  margin-top: 10px;
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 15px;
}

html {
  font-family: Roboto, Arial;
  scroll-behavior: smooth;
}

p {
  color: rgba(255, 255, 255, 0.5);
  margin: 0px
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

.author {
  text-align: center;
  margin-top: 5px;
}

.chapter{
  margin-bottom: 40px;
  overflow-wrap: break-word;
}

.code-example {
  background-color: rgba(211, 211, 211, 0.88);
  color: black;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  line-height: 1.8;
  margin-top: 16px;
  margin-bottom: 16px;
}

.grid-container {
  background-color: rgb(42, 42, 42);
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 28%;
  margin-right: 28%;
}

.header {
  background-color: rgb(32, 32, 32);
  padding: 15px;
}

.heading {
  font-size: 24px; 
  color: rgba(255, 255, 255, 0.88);
  text-align: left;
}

.link {
  color: dodgerblue;
  text-decoration: none;
  transition: color 0.15s, text-decoration 0.15s;
}

.link:hover {
  color: dodgerblue;
  text-decoration: underline;
  cursor: pointer;
}

.nav-button {
  background-color: rgba(255, 255, 255, 0.00);
  color: rgba(255, 255, 255, 0.88);
  border: none;
  border-radius: 5%;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.15s;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.nav-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 22px;
  padding-right: 22px;
}

.nav-button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-div {
  text-align: center;
}

.page-author {
  margin-bottom: 8px;
}

.text {
  font-size: 14px;
  text-align: left;
  line-height: 1.3;
  margin-bottom: 6px;
}

@media (orientation: portrait) {
  .grid-container {
    margin-left: 0;
    margin-right: 0;
  }
}